.team-heading {
    background-image: url(./images/car.jpg);
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    color: rgb(186, 186, 186);
    background-color: black;
}
.text-center {
    margin-left: 55vw;
    font-size: 75px;
    font-style: italic;
    text-shadow: 3px 3px rgb(196, 158, 81);
    
}
body {
    background-image: url(./images/logo.jpg);
    
}
.card {
    margin-left: 15px;
    margin-right: 15px;
}